body{background: #fff;}
.no-border{border:0!important}
.mask-items-view{display:none;float:left;height:500px;left:0;position:absolute;top:0;width:500px}
.mask-items-area{float:left;position:relative;z-index:auto!important}
.mask-item{border:1px solid #ccc;cursor:move!important;float:left;margin:1px;opacity:1!important;position:absolute;z-index:1000!important}
.design-area .drag-item-selected div{visibility:hidden}
.design-area .drag-item{border:0!important;padding: 0!important;}
.design-area .content-inner{overflow:hidden}
.mask-items-area .mask-item div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
}
div#dialog-update-photo {
    display: none;
}
.item-mask-remove-on{bottom:-20px;cursor:pointer;left:-20px}
.item-mask-remove-on.fa::before{color:#000;font-size:13px;line-height:20px}
.mask-items-area .mask-item div.item-rotate-on::before{color:#333;font-size:13px;margin-top:-5px}
.mask-items-area .mask-item span.item-info{background-color:#fff;border:1px solid #989898;border-radius:2px;box-shadow:0 0 3px 1px #989898;color:#000;display:inline-block;font-size:9px;left:auto;min-width:65px;padding:2px 4px;position:relative;text-align:center;top:-41px}
.mask-items-area .mask-item div.item-mask-move{color:#333;left:-20px;top:-20px}
.mask-items-area .mask-item div.item-mask-move::before{color:#333;font-size:12px;line-height:19px}
#options-add_item_qrcode{min-height:auto}
#qrcode-img{cursor:pointer;padding-top:10px}
.layers-control{position:absolute}
.drag-item svg{overflow:visible!important;float:left}
.list-design-saved .design-box a{position:relative;display:block;width:100%;height:100%;background-color:#f1f1f1;text-align:center;border:1px solid #ddd;border-radius:3px}
.list-design-saved .design-box a img.img-responsive.img-thumbnail{max-width:100%;max-height:100%;height:auto;width:auto;border:0;margin:0;padding:0;border-radius:0}
.list-design-saved .design-box a span{text-align:center;position:absolute;bottom:0;background-color:rgba(0,0,0,0.5);display:block;color:#fff;left:0;border-radius:0 0 4px 4px;padding:6px 0;right:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.list-design-saved .design-box a span small{padding:0 4px}
#product-list-colors .bg-colors > a{float:left;height:34px}
.product-price-info{clear:both;display:block;float:left;text-align:left;padding:4px 9px;border-top:1px dashed #f1f1f1;width:100%;margin-top:10px;font-weight:700}
.product-price-info span.label{margin-right:4px}
#dg-preview .modal-body{width:100%;overflow:auto;max-height:530px}
#modal-product-size .modal-body{overflow:auto;max-height:530px}
#dg-preview .carousel{height:auto;overflow:visible}
#loading-change-product{display:none}
.drag-item-upload svg {width: 100%;height: 100%;}
.error-message{position:absolute;top:0;z-index:10000;background:rgba(240,59,59,.85);left:0;right:0;margin:auto;border-radius:4px;color:#fff;padding:6px 12px;display:none;width:290px;text-align:center}
.box-art a{display:inline-block;float:left;width:100%;height:100%}
#dg-modal{overflow:inherit;position:static!important}
#product-attributes .list-number li span.ui-spinner{clear:both;display:block;margin-top:4px}
#product-attributes .list-number li span.ui-spinner .size-number{padding:0;margin:0 10px 0 0;border:0;box-shadow:none}
#product-attributes .list-number li span.ui-spinner a{display:none;opacity:.5;cursor:pointer}
#product-attributes .list-number li span.ui-spinner:hover a{display:block}
label.radio-inline.attr-img{padding:1px;border:1px solid #ccc;width:45px;overflow:hidden;margin:0 4px 4px 0;text-align:center;height:45px;cursor:pointer}
label.radio-inline.attr-img.active{border:1px solid #007aff;background-color:#f1f1f1}
.radio-inline.attr-img img.img-responsive{max-height:100%;max-width:100%;display:inline-block;margin:auto;width:auto;height:auto}
.carousel-inners canvas{max-width:100%}
.snap-align-line-v {
    width: 0px;
    height: 120%;
    top: -10%;
    position: absolute;
    border-left: 1px dashed black;
    opacity: 0.3;
    display: none;
    z-index: 100;
}
.snap-align-line-h {
    width: 120%;
    height: 0px;
    left: -10%;
    position: absolute;
    border-top: 1px dashed black;
    opacity: 0.3;
    display: none;
    z-index: 100;
}
input#quantity {
    padding: 8px 8px;
    margin: 0;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    height: 34px;
}
.product-quantity .ui-spinner a.ui-spinner-button.ui-spinner-up{
    float: left;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.product-quantity .ui-spinner a.ui-spinner-button.ui-spinner-up .ui-icon-triangle-1-n{
    background-position: -30px -128px;
    left: 4px;
}
.product-quantity .ui-spinner a.ui-spinner-button.ui-spinner-down{
    float: left;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
}
#product-list-colors .bg-colors.active::before {
    content: '\f11a';
    position: absolute;
    font-family: Flaticon;
    font-size: 16px;
    font-style: normal;
    color: #43B9D3;
    font-weight: bold;
    left: 10px;
    top: 6px;
}
.product-quantity .ui-spinner a.ui-spinner-button.ui-spinner-down .ui-icon-triangle-1-s{
    background-position: -61px -128px;
    left: 4px;
}
.field-quantity {
    clear: both;
    display: block;
    border: 1px solid #ccc;
}
span.copy-status {
    position: absolute;
    top: 0;
    left: 0;
    right: 58px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px dotted #ccc;
    padding: 6px 8px;
    bottom: 0px;
    color: #5cb85c;
    font-size: 13px;
    text-align: center;
    display: none;
}
input[type="number"] {
    padding-right: 0px!important;
}
.mask-items-area .mask-item.ui-draggable-disabled div.item-mask-move{ visibility: hidden;}
.mask-image {
    position: absolute;
    outline: 1px dashed #000;
    z-index: 1000;
    cursor: move;
}
.hidden-use use.use-help {
    display: none!important;
}
.mask-image .ui-resizable-handle {
    background: #333;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.51);
    display: block;
    height: 12px;
    position: absolute;
    width: 12px;
        right: -9px;
    bottom: -9px;
}
span.close-mask-img {
    position: absolute;
    left: 0;
    top: -32px;
    background-color: #333;
    color: #fff;
    border: 1px solid #222;
    padding: 1px 6px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 100;
}
.mask-image-bg{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    opacity: 0.4;z-index: 900;
}
#dag-list-store-arts {
    width: calc(100% + 15px);
}
#dg-obj-clipart .box-art {
    width: 140px;
    height: auto;
    margin: 10px 10px 0 0;
    padding: 0;
    border: 0;
}
.obj-main-content img {
    display: inline-block;
    width: 100%;
    margin: 0;
    float: left;
    height: auto;
}
#dag-list-arts .box-art a img {
    display: block;
    max-width: 100%;
    top: 0;
    right: 0;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
div#dag-art-categories.store-categories {
    position: absolute;
    width: 100%;
    background-color: #fff;
    bottom: auto;
    top: auto;
    padding-bottom: 15px;
}
ol.breadcrumb {
    padding: 6px 15px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    float: left;
    width: 100%;
}
#dag-art-categories li {
    width: auto;
}
#dag-art-categories span {
    display: none;
}
#dag-art-categories>ul {
    padding: 0 10px;
}
#dag-art-categories li.show-subfolder {
    display: none;
}
#dag-art-categories li.show-subfolder.active {
    display: block;
}
#dag-art-categories li.show-subfolder.active > a {
    display: none;
}
#dag-art-categories li.show-subfolder.active > ul {
    display: block;
    width: auto;
    padding: 0;
}
div#store-pagination {
    display: none!important;
}
.main-clipart .box-art img {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#dg-obj-clipart .box-art {
    width: 135px;
    border: 1px solid #ddd;
}
.option-panel-ideas .option-panel-content {
    margin-top: 0px;
    padding-top: 0;
}
div.store-main-options {
    position: relative!important;
    top: 0;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
}
.dag-store-ideas .box-art.box-idea {
    margin: 10px 10px 0 0;
    height: auto;
    border-radius: 0;
    border-color: #ddd;
    float: left;
    width: calc(25% - 10px);
    max-width: unset;
}
.dag-store-ideas .box-art.box-idea .hide-hover {
    width: 100%;
    height: 220px;
}
.dag-store-ideas .box-art.box-idea img {
    position: absolute;
    max-height: 100%;
    border: 0;
    height: auto;
    margin: 0px auto !important;
}
div.store-categories {
    position: relative;
    padding-top: 55px;
}
#dag-store-idea-categories ol.breadcrumb {
    padding: 9px 15px;
    margin-bottom: 10px;
    float: left;
    position: absolute;
    top: 0px;
    left: -15px;
    right: -15px;
    background-color: #f1f1f1;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    width: auto;
}
.store-categories ul.menu-item-tabs {
    padding: 0;
}
.store-categories ul.menu-item-tabs li {
    float: left;
    opacity: 1;
}
.store-categories ul.menu-item-tabs li.item-cate-thumb{
width: 33.33%;
}
#dag-store-idea-categories ul.menu-item-tabs > li > a img{
    padding:0!important;
}
ul.menu-item-tabs > li > a img {
    width: 80px;
    display: inline-block;
    padding:15px;
    border-radius: 3px;
    height: 80px;
}
ul.menu-item-tabs > li > a span {
    clear: both;
    display: block;
    line-height: 22px;
    font-size: 11px;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
}
.store-categories ul.menu-item-tabs > li > a.btn-thumb {
    border: 0;
    margin: 0 15px 15px 0;
    padding: 0;
}
.search-options {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    left: 0;
    right: 0;
    top: 52px;
    border: 1px solid #ddd;
    z-index: 1000;
}
.search-options .store-sort {
    padding-top: 15px;
    padding-right: 15px;
}
table.variations {
    width: 100%;
    font-size: 13px;
}
table.variations tr {
    padding-bottom: 15px;
    width: 100%;
    overflow: hidden;
    display: block;
}
table.variations tr td {
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: list-item;
    text-align: left;
}
.variations select {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
    height: 30px;
    float: left;
    width: 100%;
}
div#dag-store-categories {
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0px 0 5px 1px #ddd;
}
.idea-fields {
    display: none;
}
.reset_variations{display: none;}
.ui-resizable-se {
    cursor: nwse-resize;
}
.ui-resizable-sw {
    cursor: nesw-resize;
}
.ui-resizable-nw {
    cursor: nwse-resize;
}
.ui-resizable-ne {
    cursor: nesw-resize;
}
span.edit-image {
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.68);
    color: #fff;
    border-radius: 3px;
    padding: 6px 8px;
    width: 32px;
    height: 32px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}
.ui-widget-overlay {
    background: #000;
    z-index: 100;
}
.ui-dialog {
    z-index: 10000;
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 8px 1px #ccc;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif, serif;
    font-size: 13px;
    color: #666;
}
.ui-dialog-titlebar.ui-widget-header {
    background: none;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 7px 15px;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
}
.ui-dialog .ui-dialog-title {
    font-size: 18px;
    color: #333;
    text-shadow: none;
    font-weight: 500;
}
.ui-dialog button.ui-dialog-titlebar-close {
    border: 0;
    background: none;
    border-radius: 0;
    color: #666;
}
.ui-dialog button.ui-dialog-titlebar-close:before{
    content: '\f120';
    font-family: Flaticon;
    font-size: 14px;
    font-style: normal;
}
.ui-dialog .ui-dialog-content {
    padding: 15px;
    color: #666;
}
.ui-dialog .ui-dialog-buttonpane {
    border-top: 1px solid #ddd;
    background: none;
    padding-bottom: 8px;
    padding-right: 0;
}
#dg-popover .dropdown li.disabled a {
    opacity: 0.4;
}
.ui-selectable-helper {
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.4);
}
.variations .label {
    color: #666;
    font-weight: 400;
}
.languages-modal .modal-body { display: block!important;max-height: 400px; overflow-y: auto;overflow-x: hidden; }
.languages-modal .list-group { margin-bottom: 0; }
.languages-modal .list-group a { padding-top: 15px; padding-bottom: 15px; border-top:none; border-left:none;border-right:none;}
.languages-modal .list-group:last-child a { border-bottom: none; }
.languages-modal .fa.fa-check { color: #7bcd40; }
.languages-modal .fa.fa-circle-thin { color: #cdcdcd; }
.languages-modal .lang-title { font-size: 1.1em; text-transform: uppercase; line-height: 30px; }
.languages-modal img { width: 30px; }
@media only screen and (max-width: 770px) {
    .dag-store-ideas .box-art.box-idea {
        width: calc(50% - 10px);
        max-width: unset;
    }
}