/* Custom Style */
#dg-modal .modal-dialog .modal-footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 8px 10px;
}


#product-attributes > div:nth-child(1) > label{
font-weight:600;
}


.modal-body {
    font-size: 12px;
    padding: 7px;
    position: relative;
}

#dg-sidebar {
    display: none;
    background-color: #FFFFFF!important;
    border-bottom: 0px solid black!important;
}

#dg-designer > div.in-canvas-price{
    top: 0px;
}

#product-price {
    border-bottom: 0px dashed #ccc;
    clear: both;
    color: #666;
    float: left;
    font-size: 12px;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

div#dg-myclipart {
    height: calc(70% - 0em);
    top: unset;
    bottom: 4%;
}

p {
    margin: 0 0 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.col-md-6.col-sm-6.upload-submit-btn button#action-upload {
    border: 2px solid black;
    width: 100%;
    font-size: 9px;
    padding: 11px 3px;
    margin-top: 30px;
    border-radius: 0px;
    background-color: #d4dcdc;
    color: black;
}

#dg-left .menu-left > li a span {
    color: #666666;
    font-size: 12px;
    text-align: center;
}
.dg-box .menu-left li > a {
    font-size: 8px;
    padding: 8px 11px !important;
    text-align: center;
    word-break: break-word;
    line-height: 12px;
}
.dg-box .menu-left li > a i {
    display: block;
    margin-bottom: 6px;
}
ul.menu-left li {
    width: 41%;
    display: inline-block;
    text-align: center;
}

/* Custom Style */

#printing-type {
    display: none;
}
#product-thumbs {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    width: auto;
    border: 0;
    background-color: #fff;
    overflow: hidden;
    margin-top: 0;
    color: #333;
    height: auto;

}

#options-add_item_text > div.dg-options-toolbar > ul > li:nth-child(8) {
display:none;
}

#upload-tabs > li:nth-child(3) > a{
display:none;
}

#upload-tabs > li:nth-child(4){
display:none;
}

#options-add_item_text > div.dg-options-toolbar > ul > li:nth-child(6){
display:none;
}

#options-add_item_text > div.dg-options-toolbar > ul > li:nth-child(5){
display:none;
}

.popover {
    position: absolute;
    top: 0!important;
    left: 0;
    z-index: 1010;
    display: none;

    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);

    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-clip: padding-box;
}


#dg-modal .modal-header button.close {
    font-size: xx-large;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 4px 9px;
    opacity: .8;
    color: #333;
    z-index: 10;
}

.btn-mobile-close {
    line-height: 34px;
}

#product-attributes > div:nth-child(1) > label{
    font-weight: 600;
}

#product-attributes > div:nth-child(2) > label{
    font-weight: 600;
}

#dg-modal .modal-header .pull-right {
    background-color: transparent;
    padding-right: 10px;
    border: 0;

}

.price-old-number {
    float: right!important;
    text-decoration: line-through;
}

.product-prices button.btn-addcart span {
    text-align: center!important;
    line-height: 30px;
    padding-left: 6px;
}

.flaticon-shopping-cart-3:before {
    content: "\f176"!important;
}

#product-thumbs .box-thumb {
    background-color: white;
    border: 0px solid black;
    border-radius: 0px;
    cursor: pointer;
    float: left;
    margin: 0px;
    outline: 0;
}

#upload-tabs > li:nth-child(3){
display: none;
}

#dg-modal .modal-dialog .modal-body {
    max-height: calc(99% - 39px);
    display: inline-block;
    margin-top: calc(6% - 20px);
    position: relative;
    padding-bottom: 0px;
    bottom: 0px;
    vertical-align: baseline;
}

#product-thumbs .box-thumb img {
    display: inline-block;
}


#product-thumbs .box-thumb.active span {
    color: black!important;
}

#product-thumbs .box-thumb.active {
    background-color:#ffffff00;
    border: 1px solid black;
    text-decoration: none;
    font-family: sans serif;
}

.flaticon-cancel:before {
    content: "\f162"!important;
    font-weight: 900;
}

.red.glyph-icon:before {
    color: #ce2e2e;
}


@media screen and (max-width: 780px) {

.in-canvas-price .product-prices {
    display: block;
    width: 100%;
}
.in-canvas-price .product-price-list {
    display: block;
    float: unset;
    width: 100%;
    text-align: center;
}
.in-canvas-price {
    display: block;
    position: relative;
    top: -44px;
    z-index: 9999;
    width: 25%;
    float: right;
}
#dg-cliparts input#art-keyword, #dg-cliparts .input-group-btn, #dg-cliparts .btn.btn-default.btn-sm {
    display: none;
}
#dg-modal .modal-header button.close {
    font-weight: 200;
    color: #9a0a0a;
}
.in-canvas-price #product-price .product-price-info {
    display: none;
}
.in-canvas-price span.price-restart {
    display: none;
}    
.col-md-6.col-sm-6.upload-image-selection .checkbox input {
    display: inline-block;
    width: 9%;
}
div#options-add_item_clipart .dg-options-toolbar {
    display: none !important;
}
#dag-files-images .view-thumb {
    cursor: pointer;
    pointer-events: none;
    margin: 3px;
    width: 100px;
}
.col-md-6.col-sm-6.upload-submit-btn button#action-upload {
    width: 100%;
    font-size: 9px;
    padding: 11px 3px;
    margin-top: 30px;
}
.col-md-6.col-sm-6.upload-image-selection {
    width: 60%;
    display: inline-block;
    float: left;
    margin-right: 0px;
    padding-right: 5px;
}
.col-md-6.col-sm-6.upload-image-selection input {
    padding-right: 10px;
    width: 93%;
}

.col-md-6.col-sm-6.upload-submit-btn {
    display: inline-block;
    width: 37%;
    float: left;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}
div#dg-myclipart {
    height: calc(60% - 0em);
    top: unset;
    bottom: 10%;
}
.peris-popup.col-right {
    height: calc(65%);
    top: unset !important;
    bottom: calc(12%) !important;
}
.dg-box.width-100 {
    width: 80px;
}
ul.menu-left li {
    width: 19%;
    display: inline-block !important;
    text-align: center;
}
svg.svg-inline--fa.fa-futbol.fa-w-16, svg.svg-inline--fa.fa-pencil-alt.fa-w-16, svg.svg-inline--fa.fa-text-height.fa-w-18, svg.svg-inline--fa.fa-image.fa-w-16, svg.svg-inline--fa.fa-shopping-cart.fa-w-18{
    display: inline-block;
    font-size: 18px;
    height: 1em;
    overflow: visible;
    width: 1em;
    vertical-align: -.125em;
}
li.upload_image_element a {
    display: inline-block !important;
}
.menu-left {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: list-item; */
}

.dg-options {
    width: 100%!important;
    background-color: white;
    justify-content: center;
    /* font-size: 12px; */
    position: relative;
    display: flex;
    bottom: 65px;
}
#dg-left .menu-left {
    width: 50px;
    height: 56px;
    background-color: #eceff1;
    border-radius: 0px;
    display: inline-block;
    padding-bottom: 0px;
    padding-left: 7px;
}
#dg-left .menu-left > li {
    border-bottom: 0px solid #f1f1f1;
}
.menu-left li a span {
    display: block;
    font-size: 9px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 9px;
    font-family: sans-serif;
}
.menu-left li a i {
    clear: both;
    display: inline-block;
    height: 28px;
    line-height: 36px;
    text-align: center;
    width: 40px;
}
.menu-left {
    width: 100% !important;
}
.dg-box.width-100 {
    width: 100% !important;
}
}



@media screen and (min-width: 992px) {


.product-quantity .ui-spinner a.ui-spinner-button.ui-spinner-up {
    display: block!important;
    float: left;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}



.menu-left {
    width: 100%;
    /* justify-content: space-around; */
    display: block;
    list-style: none;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: list-item; */
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}


.menu-left a i.glyphicons:before {
    font-size: 15px;
    margin-right: 5px;
    margin-top: -9px;
    color: black;
}

.menu-left > li {
    background: #FFF;
    border-bottom: 0px solid #CCC!important;
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

span.edit-image {
    display: none;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: rgb(255 255 255 / 0%);
    color: #fff;
    border-radius: 3px;
    padding: 6px 8px;
    width: 32px;
    height: 32px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}

#options-add_item_clipart > div.dg-options-toolbar > div{
display:none;
}

#filter-link-pop{
display:none;
}

#affectionTextFilterModal-link{
display:none;
}


a:active, a:hover {
   background-color: rgb(255 255 255 / 0%);
}

#dg-left .menu-left > li {
    font-weight: 600;
    font-family: system-ui;
    text-align: left;
    background: #FFFFFF;
    margin-top: 15px;
}

.menu-left li > a {

    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    /*display: block;*/

 
}

#product-thumbs .box-thumb img {
    display: block;
    width: 29px;
    height: auto;
}

.col-left {
    position: absolute;
    left: 0;
    width: 245px;
    z-index: 10000;
   
}

.dg-box label {
    color: #333;
    font-family: arial!important;
}

#product-price-sale {
    font-size: 36px;
    font-weight: 800;
    color: black;
}

.product-price-info * {
    font-weight: 400;
    color: black;
font-family:arial;
}


.glyphicons.shopping_cart:before {
    content: "\E203";
    display:none;
}

}



.product-quantity .ui-spinner a.ui-spinner-button.ui-spinner-down {
    width: 30px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    cursor: pointer; 
}

.btn {

    display: inline-block;
    text-transform: uppercase;
    font-family: arial;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


}

.dg-tools {
    background-color: #E8E7E6;
    border-radius: 4px;
    display: inline-block;
    list-style: none outside none;
    padding: 0;
    display: none!important;
}

.element.style{
top:-50px;
}



.design-area {
    border: 1px dotted #FFCC33!important;
}

#design-area{
min-height:0px!important;
}

#dg-sidebar{

background-color:#FFFFFF!important;
border-bottom: 0px solid black!important;
}

.dg-box{
border: 0px solid black!important;
}

.product-fields{
font-size: 15px!important;
font-weight: bold!important;
}

.menu-left li a.active, .menu-left li a:hover {
    opacity: 0.8;
    color: #333;
    background: #c2c9ce;
    box-shadow: unset;
    border-radius: 0px;
}



.btn-warning {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 0px;
    color: black;
    background-color: #d4dcdc!important;
    font-weight: 800;
}

.btn-warning:hover {
    color: white;
    background-color: #43a086!important;
    border-color: #d4dcdc;
}

#product-price-sale {
    font-size: 16px;
    font-weight: 800;
}


.btn.btn-default {
    border: 0px solid #FFFFFF!important;
    background-color: transparent!important;
}

.thumbnail .caption {
    display: none;
    padding: 9px;
    color: #333;
}

.thumbnail {
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dg-box .ui-accordion .ui-accordion-header {
    display: none;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    text-shadow: none;
}

@media (min-width: 320px) and (max-width: 720px) {



.btn_add_cart{

}
.col-left {
    background: #ffffff!important;
    left: 0;
    width: 100%;
    z-index: 100;
    bottom: 0;

          }
.flaticon-menu:before {
    content: "\f151"!important;
    font-size: 18px!important;
    font-weight:700!important;
}

.dg-options {
    font-size: 12px;
    position: relative;
    display: block;
    bottom: 65px;
}

.product-views {    
    position: absolute;
    z-index: 10;
    float: left;
    text-align: center;
}

}
